<!--Gallery view: click on buttons to hide pic, click on pic to change jumbotron background-image
(used:
dom animation
convert from json to data
XMLHTTPRequest.get() method(Enable CORS via the 'Access-Control-Allow-Origin' header" in package.json)
different methods of pic display
native and created directives-->
<div class="container">
  <div class="row">
    <div class="col-sm-12 content-block-view2">
      <div class="jumbotron">
        <h1 class="jumbotron_heading_markup">AngularJS App</h1>
        <div class="jumbotron_heading_markup">
            <button ng-click="showContent()">Click for Show</button>
            <button ng-click="hideContent()">Click for Hide</button>
        </div>
      </div>
      <div class="col-sm-12">
          <div class="gallery" ng-show="isContentVisible">
              <weather picture="{{pic.icon}}" ng-repeat="pic in weatherObjects.pictures" ng-click="viewBackground(weatherObjects.backgroundImg)"></weather>
              <img ng-src="{{pic.icon}}" ng-repeat="pic in weatherObjects.pictures">
          </div>
      </div>
    </div>
  </div>
</div>