/* app css stylesheet */

.navbar {
  width: 100%;
  border-radius: 0px !important;
  margin: 0px !important;
}

.divider-vertical {
  height: 50px;
  margin: 0 0px;
  border-left: 1px solid #363636;
  border-right: 1px solid #363636;
}

.jumbotron {
  margin: 0px !important;
  margin-bottom: 10px !important;
  background-color: #FFFFFF;
}

.content-block-firstBlock {
  background-color: #550000;
  border-radius: 5px !important;
  height: 500px;
  margin-top: 10px;
}

.main-menu {
  background-color: #550000;
  margin-bottom: 0px !important;
  padding-bottom: 11px !important;
}

.main-menu-jumbotron {
  height: 195px;
  background-color: #FFFFFF;
  border-radius: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.main-menu-firstBlock {;
  height: 500px;
  background-color: #550000;
  margin-top: 10px !important;
  border-radius: 5px !important;
}

.content-block {
  padding-top: 10px !important;
  padding-bottom: 11px !important;
  background-color: #550000;
}

.content-block-view2 {
  padding-top: 10px !important;
  padding-bottom: 11px !important;
}

.page-header {
  border-bottom:0px solid #eee !important;
}

.footer {
  color: #F5F5FF;
  height: 100px;
  display: block;
  background-color: #222;
}
/*never set style directly to h tags!!! */
h4, h2, .jumbotron_heading_markup {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-block-firstBlock > h3, .main-menu-firstBlock > h2, .content-block-firstBlock > p {
    color: #FFFFFF!important;
}

.gallery {
    text-align: center!important;
}

.blackContent{
    background-color: #000000
}

.product-types {
    height: 1770px;
    border-right: solid;
}

.product-list {
    border-radius: 5px !important;
    margin-bottom: 50px;
}

.product-menu{
    margin-top: 100px;
    text-align: center!important;
}

.case-details {
    display: table;
    height: 200px;
    border-bottom: solid;
}

.case-details > .header {
    display:table-cell;
    vertical-align:bottom !important;
}

.market-basket > h4 {
    display: block;
    text-align: right;
}

.fixed {
    position: fixed;
    margin-top: -70px !important;
    width: 207px;
}

.product {
    margin: 40px;
    height: 300px;
    border-radius: 5px;
    border: #000088 solid;
    padding: 0px !important;
}

.product-name {
    border-bottom: #000088 dashed;
    width: 184px;
    height: 90px;
}

.product-price {
    width: 130px;
    height: 60px;
    margin-left: 30px;
    margin-right: 24px !important;
}

.shop-cart {
    margin-left: 50px;
}

.price-property {
    margin-top: 30px;
    margin-left: 15px
}

.property-checkbox {
    float: right;
    margin-right: 20px!important;
}