/* app css stylesheet */

.navbar {
  width: 100%;
  border-radius: 0px !important;
  margin: 0px !important;
}

.divider-vertical {
  height: 50px;
  margin: 0 0px;
  border-left: 1px solid #363636;
  border-right: 1px solid #363636;
}

.jumbotron {
  margin: 0px !important;
  margin-bottom: 10px !important;
  background-color: #FFFFFF;
}

.content-block-firstBlock {
  background-color: #FFFFFF;
  border-radius: 5px !important;
  height: 500px;
  margin-top: 10px;
}

.main-menu {
  background-color: #550000;
  margin-bottom: 0px !important;
  padding-bottom: 11px !important;
}

.main-menu-jumbotron {
  height: 195px;
  background-color: #FFFFFF;
  border-radius: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.main-menu-firstBlock {;
  height: 500px;
  background-color: #FFFFFF;
  margin-top: 10px !important;
  border-radius: 5px !important;
}

.content-block {
  padding-top: 10px !important;
  padding-bottom: 11px !important;
  background-color: #550000;
}

.content-block-view2 {
  padding-top: 10px !important;
  padding-bottom: 11px !important;
}

.page-header {
  border-bottom:0px solid #eee !important;
}

.footer {
  color: #F5F5FF;
  height: 100px;
  display: block;
  background-color: #222;
}

h4, h2, #jumbotron_heading_markup {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}



