<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 product-types">
            <ul class="nav nav-pills nav-stacked product-menu">
                <div>Selected industrial sector:</div>
                <li class="products" ng-repeat="sector in industrySectors"><a href="javascript:void(0)" ng-click="selectedSector(sector.name)">{{sector.name}}<span class="badge">{{sector.selected.length}}</span></a></li>
                <label for="sectorSearch">Search for sector</label>
                <input type="text" ng-model="sectorSearch.name" id="sectorSearch">
            </ul>
        </div>
        <div class="col-sm-10 main-content">
            <div class="col-sm-12 case-details">
                <div class="header col-sm-3" ng-repeat="sector in industrySectors">
                    <h3>{{sector.name}}</h3>
                    <div ng-show="showDetails">
                        <p ng-hide="selectedProducts(sector.selected)">Nothing is selected</p>
                        <p ng-show="selectedProducts(sector.selected)">{{sector.selected | selectedNames}}</p>
                    </div>
                </div>
                <div class="market-basket col-sm-3">
                    <h4>
                        <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart <br>
                        <a href="javascript:void(0)" ng-click="showDetails = !showDetails">Details</a>
                    </h4>
                </div>
            </div>
            <div class="col-sm-12 product-list">
                <product ng-hide="!selectedHC" ng-repeat="sectors in industrySectors[0].list | filter:sectorSearch" sector="{{sectors}}" selected="{{sectors.selected}}" main-Functional="mainFunctional(sectorName)"></product>
                <product ng-hide="!selectedTC" ng-repeat="sectors in industrySectors[1].list | filter:sectorSearch" sector="{{sectors}}" selected="{{sectors.selected}}" main-Functional="mainFunctional(sectorName)"></product>
                <product ng-hide="!selectedBMC" ng-repeat="sectors in industrySectors[2].list | filter:sectorSearch" sector="{{sectors}}" selected="{{sectors.selected}}" main-Functional="mainFunctional(sectorName)"></product>
            </div>
        </div>
    </div>
</div>
